# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Solution User Options
*.suo

# Visual Studio
.vs
*.csproj.user
*.vcxproj.user
*.wapproj.user

# output folder from build (includes e.g. ini-files copied for deployment) 
/bin
/exiv2Cdecl/Prj_exiv2Cdecl/Debug_x64
/exiv2Cdecl/Prj_exiv2Cdecl/Debug_x64_WinXP
/exiv2Cdecl/Prj_exiv2Cdecl/Debug_x86
/exiv2Cdecl/Prj_exiv2Cdecl/Debug_x86_WinXP
/exiv2Cdecl/Prj_exiv2Cdecl/Release_x64
/exiv2Cdecl/Prj_exiv2Cdecl/Release_x64_WinXP
/exiv2Cdecl/Prj_exiv2Cdecl/Release_x86
/exiv2Cdecl/Prj_exiv2Cdecl/Release_x86_WinXP
/exiv2Cdecl/Prj_exiv2Cdecl/obj
/LibRaw/Debug_x86
/LibRaw/Debug_x64
/LibRaw/Release_x86
/LibRaw/Release_x64
/LibRaw/obj
/LibRawWrapper/Debug_x86
/LibRawWrapper/Debug_x64
/LibRawWrapper/Release_x86
/LibRawWrapper/Release_x64
/LibRawWrapper/obj
/QuickImageComment/obj
/QuickImageCommentPackage/AppPackages
/QuickImageCommentPackage/BundleArtifacts
/QuickImageCommentPackage/bin
/QuickImageCommentPackage/obj
/SimplePsd/bin
/SimplePsd/obj

# output folder from user manual
/UserManual/html_QIC_Benutzeranleitung
/UserManual/html_QIC_User_Manual
/UserManual/NuHelp_Output

# MSIX package store association
Package.StoreAssociation.xml

# Cache
Cache.mxc3
QuickImageCommentPackage.assets.cache
QuickImageComment/.vs/QuickImageComment_Net_4_0_WinXP.csproj.dtbcache.json
SimplePsd/.vs/SimplePsd.csproj.dtbcache.json

# Nuget packages
**/packages/
